.DS_Store
*.o
*.out
*.swp
html/
build/
.vscode/
*.json
FMCA.xcodeproj/
*.txt
*.csv
*.pbxproj
*.plist
*.xcuserstate
*.xcsettings
*.plist
*.json
*.json
*.txt
TestPDE/results_matlab
TestPDE/results_simulations
TestPDE/NotOfficialTests
*.mat
*.m
*.mtx
*.vtk
*.dSYM
*.sh
Sara_tests/integration_bunny.dSYM/Contents/Resources/Relocations/aarch64/integration_bunny.yml
