.DS_Store
*.o
*.out
*.swp
html/
build/
SemiLagrangian/
EdgeDetection/
tests/test_MultilevelFrankeFunction.cpp
tests/test_MultilevelFranke_Adaptive.cpp
tests/test_MultilevelGP.cpp
tests/test_Multilevel_fGreedy_Adaptive_FinerLevel.cpp
tests/test_Multilevel_fGreedy_Adaptive_Regions.cpp
tests/test_Multilevel_fGreedy_Adaptive_SuccesiveLevels.cpp
tests/test_MultiscaleInterpolator_H2Matrix_Lucy.cpp
tests/test_SmoothnessClassDetection_vsN.cpp
tests/test_SmoothnessClassDetection_vsN_1D.cpp
tests/test_SmoothnessClassDetection_vsN_Bunny.cpp
tests/test_SmoothnessClassDetection_vsN_Lucy.cpp
tests/test_smoothness2D_picture.cpp
tests/*.vtk
tests/*.txt
tests/data
