.DS_Store
*.o
*.out
*.swp
html/
build/
*.vtk
*.h5
MultiGrid/
tests/*
!tests/*.cpp
!tests/*.h
!tests/CMakeLists.txt
FMCA/src/KernelInterpolation/MultilevelSampletKernelSolver.h
tests/test_MultilevelFrankeFunction.cpp
tests/test_MultilevelFranke_Adaptive.cpp
tests/test_MultilevelGP.cpp
tests/test_Multilevel_fGreedy_Adaptive_FinerLevel.cpp
tests/test_Multilevel_fGreedy_Adaptive_Regions.cpp
tests/test_Multilevel_fGreedy_Adaptive_SuccesiveLevels.cpp
.vscode/
EdgeDetection/
FMCA/src/.vscode/
FMCA/src/Clustering/ClusterTreeInitializer_KDTree.h
FMCA/src/Clustering/KDTree.h
SemiLagrangian/
tests/UtilsGP.h
tests/read_files_txt.h
tests/test_MultiscaleInterpolator_H2Matrix_Lucy.cpp
tests/plot_kernel_matrices.cpp
tests/smoothnessDetection.cpp
tests/test_CGSteinhaug.cpp
tests/test_CollocationSingleScale.cpp
tests/test_SSN_paper.cpp
tests/test_SmoothnessClassDetection_1D.cpp
tests/test_SmoothnessClassDetection_NotUniform.cpp
tests/test_SmoothnessClassDetection_slopes_1D.cpp
tests/test_SmoothnessClassDetection_slopes_2points.cpp
tests/test_SmoothnessClassDetection_slopes_Bunny.cpp
tests/test_SmoothnessClassDetection_slopes_Lucy.cpp
tests/test_SmoothnessClassDetection_validation_1D.cpp
tests/test_SmoothnessClassDetection_validation_2d.cpp
tests/test_SmoothnessClassDetection_validation_Bunny.cpp
tests/test_SmoothnessClassDetection_validation_Lucy.cpp
tests/test_SmoothnessClassDetection_vsN.cpp
tests/test_SmoothnessClassDetection_vsN_1D.cpp
tests/test_SmoothnessClassDetection_vsN_Bunny.cpp
tests/test_SmoothnessClassDetection_vsN_Lucy.cpp
tests/test_TRSNN_multipleKernels.cpp
tests/test_TRSSN_DifferentFrequencies.cpp
tests/test_TRSSN_LS.cpp
tests/test_TRSSN_LS_singleKernel.cpp
tests/test_TRSSN_RKHS.cpp
tests/test_TRSSN_bunny.cpp
tests/test_TRSSN_multipleKernels_analytic.cpp
tests/test_lucy_coeff2.cpp
tests/test_smoothness2D_picture.cpp

